<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #F4F4F4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
      }
      label {
        display: block;
        margin-bottom: 8px;
        color: #333;
      }
      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      button {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      button:hover {
        background-color: #45A049;
      }
    </style> -->
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #B9B9B9;
        color: #333;
        margin: 20px;
      }
      .user-details {
        max-width: 400px;
        margin: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
      }
      h1 {
        text-align: center;
        color: #91483E;
      }
      .detail-label {
        display: block;
        margin-bottom: 8px;
        color: #fff;
        font-weight: bold;
        width: 40%;
        padding: 15px;
        margin: auto;
      }
      .detail-value {
        margin-bottom: 16px;
        color: #FFFFFF;
        text-align: left;
        width: 60%;
        padding: 15px;
        margin: auto;
      }
      .label {
        display: flex;
        background-color: #646363;
        margin-bottom: 20px;
        border-radius: 5px;
      }
      a {
        background-color: #91483E;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-right: 8px;
        text-decoration: none;
        width: 50%;
        text-align: center;
      }
      a:hover{
        background-color: #B86459;
      }
      .anger{
        display: flex;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <h1>User Details</h1>
    <div class="user-details">
      <div class="label">
        <span class="detail-label">Full Name</span>
        <span class="detail-value">: <%= user[0].firstName %></span>
      </div>
      <div class="label">
        <span class="detail-label">Email</span>
        <span class="detail-value">: <%= user[0].email %></span>
      </div>
      <% if (user.length > 0 && user[0].moreDetails.length > 0) { %> <%
      user[0].moreDetails.forEach(details => { %>
      <div class="label">
        <span class="detail-label">Date of Birth</span>
        <span class="detail-value">: <%= details.dob %></span>
      </div>
      <!-- <div class="label">
        <span class="detail-label">Age</span>
        <span class="detail-value">: <%= details.age %></span>
      </div> -->
      <div class="label">
        <span class="detail-label">Gender</span>
        <span class="detail-value">: <%= details.gender %></span>
      </div>
      <div class="label">
        <span class="detail-label">Contacts</span>
        <span class="detail-value">: <%= details.phone %></span>
      </div>
      <div class="anger">
        <a href="/addProfile">Editprofile</a>
        <a href="/">Home</a>
      </div>
    </div>
    <% });  %>
    
    <% } else { %>
    <p>No profile details found.</p>
    <% } %>
  </body>
</html>